/* Основные цвета макета 
Основной - черный color: #212121; 
Вторичный - серый color: #757575; 
Акцент - синий color: #2196F3;  
Белый - #FFFFFF*/

:root {
  --primery-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
}

/* Основные шрифты */
body {
  color: var(--primery-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* reset styles */
h1,
h2,
h3,
p,
img {
  margin: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* HEADER */

.site-nav {
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.site-nav .link .current {
  color: var(--accent-color);
}

.site-nav .container,
.header-nav,
.header-list {
  display: flex;
  align-items: center;
}

.header-list {
  gap: 50px;
}

.header-nav {
  margin-right: auto;
}

.logo-header {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.link {
  color: var(--title-text-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  font-family: inherit;
}

.site,
.mail,
.contacts {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.underline {
  position: relative;
}

.studio-underline::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
}

.mail-icon {
  width: 16px;
  height: 10px;
  margin-right: 10px;
  fill: inherit;
}

.mail:hover,
.mail:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.smartphone:hover,
.smartphone:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.site:hover,
.site:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

.contacts {
  color: var(--title-text-color);
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-up {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
  background-color: #fff;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

/* Section main */

.section-main {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/logo/img-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-headline {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
}

/* Button */
button:hover,
button:focus {
  background-color: #188ce8;
}

.button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-by {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
}

/* Section desc*/
.desc-contain {
  width: 70px;
  height: 70px;
}

.section-desc {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.content-desk {
  display: flex;
  gap: 30px;
}

.list-info {
  width: 270px;
}

.desk-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}

.title-desc {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.text-desc {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Section subject*/

.section-subject {
  padding-bottom: 94px;
}

.subject > .container {
  margin-bottom: 50px;
}

.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.subject-list {
  display: flex;
  gap: 30px;
}

.subject-picture {
  position: relative;
}

.subject-caption {
  height: 70px;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
}

.subject-picture > .subject-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Section User */

.link-icon {
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.link-icon:hover,
.link-icon:focus {
  fill: #ffffff;
  background-color: var(--accent-color);
}

.user-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.link-icon:hover .user-icon,
.link-icon:focus .user-icon {
  fill: #ffffff;
}

.section-user {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.user-container {
  display: flex;
}

.user-link {
  padding-left: 0;
  justify-content: center;
  gap: 10px;
}

.user-picture {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.user-picture:last-child {
  margin-right: 0;
}

.user-name {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.title-user {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.text-user {
  color: var(--title-text-color);
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

/* CLIENTS */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-box {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-box:focus,
.client-box:hover {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-box:focus .client-icon,
.client-box:hover .client-icon {
  fill: var(--accent-color);
  border: var(--accent-color);
}

.client-icon {
  width: 170px;
  height: 92px;
  fill: #afb1b8;
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.client-boxc:focus {
  border: var(--accent-color);
}

/* Footer */

.footer {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-adress {
  gap: 9px;
}

.logo-down {
  display: block;
  margin-bottom: 20px;
}

.logo-footer {
  color: #ffffff;
}

address {
  font-style: normal;
}

.maps {
  color: #ffffff;
}

.maps:hover,
.maps:focus {
  color: var(--accent-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.icon-style {
  background: rgba(255, 255, 255, 0.1);
}

.footer-block {
  display: flex;
  align-items: baseline;
}

.logo-block {
  margin-right: 70px;
}

.footer-lisl {
  gap: 10px;
}

.join-footer {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
}

.list-link-footer {
  margin-bottom: 9px;
}

.list-link-footer:last-child {
  margin-bottom: 0;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* PORTFOLIO */

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #ffffff;
}

.portfolio-item {
  display: block;
  text-decoration: none;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* BUTTON */

.btn-list {
  border: none;
  margin-right: 8px;
}

.btn-list:last-child {
  margin-right: 0;
}

.button,
.style {
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
}

.btn-list:hover,
.btn-list:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.current {
  color: var(--primery-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

/* LIST */

.list-oll {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.list-btn {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-picture {
  display: block;
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-picture:hover,
.portfolio-picture:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.caption {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.text-site {
  color: var(--title-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-link {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
